.popup {
    width: 383px;
    height:auto;

    &-title {
        display: flex;
        justify-content: space-between;  
    }
  }

  .popup-card-label{
    font-size : 15px;
    opacity: 0.54;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    display: flex;
  }
  

    .popup-comment-text-area{
    height: 72px;
    width: 375px;
    margin-top:8px;
    resize: none;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
  }

 