<div class="popup">
    <div class="popup-title">
      <h2 mat-dialog-title class="popup-card-title">{{this.popUpService.popupTitle}}</h2>
    </div>
  
    <mat-dialog-content>
      {{this.popUpService.popupConfirmationMsg}}
    </mat-dialog-content>
  
    <div>
      <mat-dialog-actions>
        <button mat-button type="button" (click)="popupclose()" >NO</button>
        <button mat-raised-button type="button" (click)="saveChanges()" color="primary">YES</button>
      </mat-dialog-actions>
    </div>
  
  </div>