<div>
	<app-breadcrumb [backLink]="backLink"></app-breadcrumb>

	<mat-card class="example-card">
		<mat-card-header>
			<mat-card-title>{{LABELS.UPDATE_ITEM}}</mat-card-title>
		</mat-card-header>

		<mat-card-content>
			<form [formGroup]="form" *ngIf="form">
				<div class="flex justify">
					<!-- Name -->
					<mat-form-field>
						<input matInput type="text" formControlName="itemName" placeholder="Item name" maxlength="61" required>
						<mat-hint *ngIf="form.controls.itemName.value">{{ form.controls.itemName.value.length }} / 61
						</mat-hint>
						<mat-error>This field must be filled</mat-error>
					</mat-form-field>

					<!-- Name -->
					<mat-form-field>
						<input matInput formControlName="itemDescription" placeholder="Description" maxlength="100">
						<mat-hint *ngIf="form.controls.itemDescription.value">{{
							form.controls.itemDescription.value.length }} / 100
						</mat-hint>
					</mat-form-field>
				</div>

				<div class="flex justify">
					<!-- Name -->
					<mat-form-field>
						<input matInput formControlName="itemPrice" placeholder="Price" maxlength="61" required>
						<mat-error *ngIf="form.get('itemPrice').hasError('required')">This field must be filled
						</mat-error>
						<mat-error *ngIf="form.get('itemPrice').hasError('numeric')">value should be a number
						</mat-error>
					</mat-form-field>

					<!-- Name -->
					<mat-form-field>
						<input matInput number formControlName="itemQuantity" placeholder="Quantity" required>
						<mat-error *ngIf="form.get('itemQuantity').hasError('itemQuantity')">This field must be filled
						</mat-error>
						<mat-error *ngIf="form.get('itemQuantity').hasError('numeric')">value should be a number
						</mat-error>
					</mat-form-field>

				</div>
			</form>
		</mat-card-content>

		<mat-card-actions class="action">
			<button mat-button type="button" (click)="back()">CANCEL</button>
			<button mat-raised-button [disabled]="!form.valid" color="primary" (click)="onSubmit()">SAVE</button>
		</mat-card-actions>
	</mat-card>
</div>