<div class="breadcrumb">
    <ng-container *ngFor="let breadcrumbItem of backLink">
      <a routerLink="{{breadcrumbItem.path}}" *ngIf="breadcrumbItem.path" routerLinkActive="active">{{ breadcrumbItem.label}}
          <span>/</span>
      </a>
      <span *ngIf="!breadcrumbItem.path">{{ breadcrumbItem.label}}</span>
    </ng-container>
  </div>
  
