<div class="list-wrapper">

  <header class="app-header">
    <h1 class="app-title">Inventory Management</h1>
  </header>

  <section *ngIf="isLoading" class="flex center spinner">
    <mat-progress-spinner [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
  </section>

  <section class="" *ngIf="!isLoading">

    <app-space space="10">
      <div class="flex end" routerLink="/add-item">
        <button mat-flat-button color="primary">
          <mat-icon>add</mat-icon>
          Add Item
        </button>
      </div>
    </app-space>

    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <div>
            <mat-icon color="primary" class="pointer"  matTooltip="Update Inventory Item" (click)="openEditRoute(i)">edit
            </mat-icon>
            <mat-icon color="primary" class="pointer"  matTooltip="Delete Inventory Item" (click)="openDeleteDialog(i)">delete
            </mat-icon>
          </div>
        </td>
      </ng-container>

      <!-- name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
      </ng-container>

      <!-- price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.itemPrice}} </td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.itemQuantity}} </td>
      </ng-container>

      <!-- total amount Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </th>
        <td mat-cell *matCellDef="let element">
          <div class="table-data">
            <span [matTooltip]="element.itemTotal">{{element.itemTotal}}</span>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>

    </table>
    <mat-paginator #paginator [length]="dataSource?.filteredData.length"  [pageSizeOptions]="[3, 5, 10]" 
    showFirstLastButtons></mat-paginator>
  </section>
</div>