@import '../shared/style/inventory-theme.scss';

.table-data{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // padding: 0px 3px;
}
  td, th {
    width: 25%;
  }
  td {
    max-width: 0px;
  }