<mat-toolbar color="primary">
    <h3 class="pointer" routerLink="/">My Inventory</h3>
    <span class="example-spacer"></span>
    <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
