@import '~@angular/material/theming';
@include mat-core();

$myInventory-primary: mat-palette($mat-indigo, 500);
$myInventory-accent: mat-palette($mat-pink, A200, A100, A400);
$myInventory-warn: mat-palette($mat-red);
$myInventory-theme: mat-light-theme($myInventory-primary, $myInventory-accent, $myInventory-warn);

@include angular-material-theme($myInventory-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    cursor:context-menu;
     margin: 0; font-family: Roboto, sans-serif; }
a {
    text-decoration: none;
}
$primary: #4c4b93;
$secondary:#f5f5ff;
.flex{
    display: flex;
}
.center{
    align-items: center;
    justify-content: center;
}
.justify{
    align-items:center;
    justify-content: space-around;
}
.end{
    align-items:center;
    justify-content: end;
}

.spinner {
    width: 100%;
    height: 300px;
}
.pointer{
    cursor: pointer;
}
mat-progress-spinner, mat-progress-spinner svg {
    height: 50px !important;
    width: 50px !important;
}
.toast-title {
    font-size:16px;
    font-family: 'Roboto-Medium';
  }
  #toast-container > .toast-error{
    width:  670px;
    font-size: 14px;
    font-family: 'Roboto-Regular'
  }
@media screen and (min-width: 300px) and (max-width: 800px)  {
    .flex{
        flex-direction: column;
    }
    
}