.action {
    display: flex;
    justify-content: flex-end;
  }

.mat-form-field {
    width: 42%;
    padding: 20px 0;
  }

  .mat-card {
    padding: 24px 28px;
    &-header{
    justify-content: center;
    }
  }

@media screen and (min-width: 300px) and (max-width: 800px)  {
    .mat-form-field {
        width: 90%;
        padding: 20px 0;
      }
}
    